.details-view-container {
  width: 100vw;
  height: 100vh;
  background-color: #1E232E;
}

.details-view-content-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  top: 4rem;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: scroll
}

@media only screen and (min-width: 1000px) {
  .details-view-content-container {
      left: 14rem;
      background: linear-gradient(0deg, rgba(30,35,46,1) 0%, rgba(47,62,71,1) 100%);
  }
}
