.base-view-container {
    width: 100vw;
    height: 100vh;
    background-color: #1E232E;
}

.base-view-content-container {
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    top: 4rem;
    border-radius: 0.5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.mobile-status-container {
  background-color: rgba(84,117,187, 0.2);
  height: 19.375rem;
  border-radius: 0 0 1.875rem 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.device-list-title {
  font-size: 1.375rem;
  font-weight: bold;
  color: white;
  align-self: flex-start;
  padding: 0.75rem;
}

.dropdown-base-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .base-view-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1000px) {
    .base-view-content-container {
      position: absolute;
      left: 14rem;
        background: linear-gradient(0deg, rgba(30,35,46,1) 0%, rgba(47,62,71,1) 100%);
    }
}

@media only screen and (min-width: 500px) {
  .dropdown-base-container {
    flex-direction: row;
  }
}

