.mobile-menu-container {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    background-color: #29334A;
    background-image: url('../../../assets/server.png'), linear-gradient(to bottom, #29334A, #39445f); ;
    background-size: cover;
    background-position: center;
    z-index: 1001;
}

.mobile-icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: clamp(1rem, 2vw, 3rem);
}
