.status-container {
  width: 180px;
  height: 180px;
  position: relative;
  background-color: #1E232E;
}

.status-description-container {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-description p {
  font-weight: bold;
  color: white;
  margin: 0;
}
