.status-container {
  height: 19.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.status-component {
  width: 11.25rem;
  height: 11.25rem;
  position: relative;
}

.status-description-container {
  height: 11.25rem;
  width: 11.25rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-description p {
  font-weight: bold;
  color: white;
  margin: 0;
}

.status-calculator-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.status-calculator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
}

.status-calculator img {
  width: 1rem;
  margin-right: 1rem;
}

.status-calculator p {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .status-calculator-container {
    flex-direction: row;
  }
}